numpy
scipy
gensim
scikit-learn
nltk
spacy>=3.0.0
python-docx
django
djangorestframework
django-cors-headers
num2words
requests
mammoth
pandas
gunicorn
python-dotenv
roman
psutil==5.9.8
openAI
plotly
torch==2.2.0+cpu
transformers==4.41.0
sentencepiece

# spaCy models
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#egg=en_core_web_sm
